*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Playfair Display", "Inter", "Mulish";
  color: #000;
}

/*RESPONSIVEEEE DESIGNNNN*/


@media (max-width: 793px) {
  .burger { display: flex; }

  .header_nav {
    position: absolute;
    top: 12vh;
    left: 0;
    background: #fff;
    width: 70%;
    max-width: 250px;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 10;
  }

  #menu-toggle:checked + .burger + .header_nav { display: flex; }

  .header_nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}

@media(max-width: 320px) {
  .section2 {
    top: 20vw;
  }
}

@media(max-width: 890px) {
    .main_photo {
         display: none;
    }
}

@media (max-width: 843px) {
    .photo_founder {
        display: none;
    }

    .blog_photo {
        width: 200px;
        height: auto;
    }
    .blog_text{
        width: 200px;
    }

    .article_name{
        width: 200px;
    }

}


@media(max-width: 434px) {
  .header_logo {
    left: 40%;
  }
}

@media(max-width: 339px) {
  .header_logo {
    left: 30%;
  }
}

@media(max-width: 1000px) {
    .photo_founder {
         flex-wrap: wrap;
    }
}

@media(max-width: 420px) {
    .text_part_testimonials {
        padding: 0;
    }
}

@media(max-width: 494px) {
    .trending_stories_top {
        gap: 30px;
    }

    .trending_stories{
        font-size: 30px;
    }

    .view_all {
        margin-top: 20%;
        margin-right: 20%%;
    }
}

@media(max-width: 793px) {
  .registration_box {
    flex-direction: column;
  }
}

@media(max-width: 1033px) {
  .main__download {
    font-size: 0.7rem;
    width: 60%;
    margin-bottom: 20vh;
  }
  .main_photo {
    height: 450px;
  }
}

@media(min-width: 2107px) {
  .blog {
    flex-wrap: none;
  }
}


/* АНІМАЦІЇЇЇЇ АААА*/
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.header_logo:hover {
    animation: spin 2s linear infinite;
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}


.register:hover {
    animation: pulse 0.6s ease-in-out infinite;
}

@keyframes glow {
    0% { text-shadow: 0 0 5px #fb8f1d; }
    50% { text-shadow: 0 0 20px #fb8f1d; }
    100% { text-shadow: 0 0 5px #fb8f1d; }
}

.login:hover {
    animation: glow 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-8px); }
}
